@charset 'utf-8';
@import url(fonts.css);
@import url(reset.css);

/*공통*/
body {font: 15px 'Source Serif Pro', serif; color: #2b2b2b;}
.inner {
    width: 1100px;
    margin: 0 auto;
}
.btn-close {
    display: none;
}
.top-nav .btn-mobile {
    display: none;
}
/*header*/
header h1 img {
    width: 200px;
    height: auto;
    margin-top: 35px;
}
header nav {
    position: absolute;
    top: 4%;
    right: 20%;
}
header nav ul li {
    float: left;
    text-align: center;
    font-weight: 600;
    color: #111;
    position: relative;
    display: inline-block;
    padding: 0 30px;
}
header nav ul li a {
    position: relative;
    line-height: 28px;
}
header nav ul li a.active:after,
header nav ul li a:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20px;
    height: 2px;
    background-color: #cc5252;
}
header nav ul li a:after {
    width: 0px;
    transition: width 0.4s ease;
}
header nav ul li a:hover:after {
    width: 20px;
}

/*main-visual*/
.main-visual {
    position: relative;
    margin-top: 40px;
    background: url(../img/sub-main.jpg) no-repeat center/cover, rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    height: 40vh;
}
.main-visual p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    color: #fff;
    
}

/*main-title*/
.main-title {
    position: relative;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #fff 70%, #dee4eb 40%);
}
.main-title .main-title-inner {
    position: relative; 
    width: 1600px;
}
.main-title .title-text {
    width: 860px;
    padding: 100px 50px;
    word-break: keep-all;
    box-sizing: border-box;
    margin-left: 60px;
}
.main-title .title-text h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px; 
    line-height: 1.6;
    color: #2e3d4d; 
}
.main-title .title-text h2:after {
    content: '';
    position: absolute;
    top: 42%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 25px;
    border: 1px solid #cc5252;
}
.main-title .title-text p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #2b2b2b;
    line-height: 1.6;
    margin-bottom: 30px;   
}
.main-title .title-img figure img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 600px;
    height: 560px;
    border-left: 4px solid #cc5252;
}

/*amenities*/
.amenities {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 80px 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    z-index: 10;
}
.amenities:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: rgba(0,0,0,0.01);
}
.amenities h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.amenities img {
    width: 470px;
    height: 280px;
    margin-bottom: 20px;
    border-top: 4px solid #cc5252;
}
.amenities .amenities-text {
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
    line-height: 1.6;  
}
.amenities .amenities-text h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.amenities .amenities-text p {
    font-size: 18px;
    color: #585858;
    line-height: 1.3;
    margin-bottom: 30px;
}
.amenities .amenities-text ul {
    width: 370px;
}
.amenities .amenities-text ul li {
    list-style: disc;
}

.amenities .amenities-text span {
    font-style: italic;
    font-weight: 600;
}
.amenities .amenities-left {
    width: 470px;
}
.amenities .amenities-right {
    position: absolute;
    top: 22%;
    right: 23%;
    width: 470px;
}

/*interiors*/
.interiors {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #f7f7f7;
}
.interiors .interiors-text {
    width: 48%;
    padding: 90px 80px 90px 100px;
    box-sizing: border-box;
}
.interiors .interiors-text:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/sub-Living-Room.jpg) no-repeat;
    background-position: right center;
    background-size: cover;
    height: 60vh;
    width: 50vw;
    opacity: 0.8;
}
.interiors .interiors-text h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
}
.interiors .interiors-text h3:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 6%;
    transform: translate(-50%, -50%);
    width: 20px;
    display: block;
    border: 1px solid #cc5252;
}
.interiors .interiors-text p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    line-height: 1.6;
    margin-bottom: 20px;   
}

/*add-text*/
.add-text {
    position: relative;
    height: 30vh;
    text-align: center;
}
.add-text p {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}
.add-text a {
    position: absolute;
    top: 45%;
    right: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #cc5252;
    letter-spacing: 3px;
    border: 2px solid #cc5252;
    padding: 15px 40px;
    transition: all 0.5s;
}
.add-text a:hover {
    top: 42%;
    background-color: #cc5252;
    color: #fff;
}

/*footer*/
footer {
    position: relative;
    width: 100%;
    height: 500px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    background-color: #FAFBFC;
}footer .footer-text p {
    position: absolute;
    top: 75%;
    left: 20%;
    font-size: 12px;
    font-weight: 600;
}
footer .footer-text ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 20px 80px;
}
footer .footer-text ul:before {
    content: '';
    position: absolute;
    top: 20%;
    left: -12%;
    border: 1px solid #5c7a99;
    width: 1200px;
}
footer .footer-text ul:after {
    content: '';
    position: absolute;
    top: 80%;
    left: -12%;
    border: 0.03px solid #5c7a99;
    width: 1200px;
}
footer .footer-text ul li{
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 60px;
    text-align: center;
    line-height: 1.5;
    margin-right: 50px;
}

footer .footer-text ul li:first-child {
    color: #5c7a99;
}
footer .footer-text ul li:last-child:after {
    content: '';
    position: absolute;
    top: 53%;
    left: 27%;
    transform: translate(-50%, -50%);
    border-right: 1px solid #5c7a99;
    height: 40px;
}
footer .footer-text ul li:first-child:after {
    content: '';
    position: absolute;
    top: 53%;
    right: 30%;
    transform: translate(-50%, -50%);
    border-right: 1px solid #5c7a99;
    height: 40px;
}
footer .footer-text ul li:first-child:hover {
    color: #2b2b2b;
}
footer .footer-text ul li:nth-child(1),
footer .footer-text ul li:nth-child(3) {
    margin-top: 10px
}
footer .footer-text ul li:nth-child(3) {
    margin-right: 0;
}
footer .footer-text ul li:nth-child(3) a:hover {
    font-weight: bold;
    color: #5c7a99;
}
footer .footer-text ul li a {
    margin-right: 15px;
}
